:root {
  --grey-90: #eee;
  --grey-80: #ddd;
}

body {
  font-family: arial, verdana, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}
header, footer, main {
  padding: 1em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header, footer {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}

header, footer {
  background-color: var(--grey-90);
}

section.article {
  margin: 1rem 0;
}

.article-description .headline {
  background-color: var(--grey-80);
  padding: 0.25rem;
}
