:root {
  --grey-90: #eee;
  --grey-80: #ddd;
}

body {
  font-family: arial, verdana, sans-serif;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
div.layout {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header, footer {
  flex-grow: 0;
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}

header, footer, main {
  padding: 15px;
}
header, footer {
  background-color: var(--grey-90);
}

section.article {
  margin: 10px 0;
}

.article-description .headline {
  background-color: var(--grey-80);
  padding: 5px;
}
