{{> header}}

<main>
  <h1>{{title}}</h1>
  <p class="taxonomy-description">Articles in the <span class="badge badge-category">{{category.name}}</span> category</p>

  {{#articles}}
    <section class="article">
      <div class="article-header">
        <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
        <div class="article-meta">By <strong>{{author.firstname}}</strong>, on <strong>{{addedAt}}</strong></div>
        <div class="article-taxonomies">
          {{#category}}
            <a href="/category/{{slug}}" class="badge badge-category">{{name}}</a>
          {{/category}}
          {{#tags}}
            <a href="/tag/{{slug}}" class="badge badge-tag">{{name}}</a>
          {{/tags}}
        </div>
      </div>
      <div class="article-description">
        {{{content}}}
      </div>
    </section>
  {{/articles}}
  {{^articles}}
    <p>No articles in this category yet.</p>
  {{/articles}}
</main>

{{> footer}}
