<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="layout">
<header>
  <nav>
    <a href="/">Spring Demo</a>
  </nav>
</header>
